---
import Item from "../../layouts/item.astro";
const { idCard } = Astro.params;
---

<Item>
  <div class="container bg-white mx-auto p-10 rounded-lg">
    <div>TESTE: {idCard}</div>
  </div>
</Item>
