---
import Logo from "./logo.astro";
import Searchbar from "./searchbar.astro"
---

<header class="gap-6 container flex flex-1 py-10 m-auto">
  <Logo />
  <Searchbar/>
  <div class="border shrink border-green-600">
    <nav class="flex-1">
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>
  </div>
</header>
