---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/header/header.astro";
import Footer from "../components/footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <BaseHead title={title}/> -->
    <ViewTransitions />
  </head>
  <body class="bg-amber-300">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
